@model List<ListingTodos.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create New ToDo</title>
</head>
<body>
    <h2>Add New ToDo</h2>
    <form action="/todo/add" method="post">
        <p>Title:</p>
        <input type="text" name="Title" value="">
        <br />
        <br />
        <p>Done?</p>
        <select type="text" name="IsDone">
            <option value="">- Choose -</option>
            <option value=true>Is Done</option>
            <option value=false>Is Not Done</option>
        </select>
        <p>Urgent?</p>
        <select type="text" name="IsUrgent">
            <option value="">- Choose -</option>
            <option value=true>Important</option>
            <option value=false>Not Important</option>
        </select>
        <br /><br />
        <input type="submit" value="Add new element">
    </form>
</body>
</html>
