header {
    background-color:#333333;
    position: line;
    font-family: 'Spectral SC', serif;
    height: 50px;
    }

body {
    background-image:url("topography.png");
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: consolas, courier;
    }

.header {
    background-image:url("logo2.png");
    position: center;
}   

main {
    padding-right: 10%;
    padding-left: 10%;
    }

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    }

.navigation li {
    display: inline;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    }

.navigation li a {
    size: 20px;
    color: #ff0099;
    }

h2 {
    color: #ff0099;
}

h3 {
    text-align: center;
}