<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>LogIn DogSheet</title>
</head>
<body class="login">
    <header>
        <span><b>Log in here:</b></span>
        <form action="/" method="post" class="login">
            <input type="text" name="name" placeholder="Username" value="" />
            <button type="submit"><b>Login</b></button>
        </form>
    </header>
</body>
</html>