<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>LogIn DogSheet</title>
</head>
<body class="login">
    <div class="mx-auto" style="width: 175px;">
        <span class="nav justify-content-center"><b class="text-light">Log in here:</b></span>
        <br />
        <form action="/" method="post" class="login">
            <input type="text" name="name" placeholder="Username" value="" />
            <span class="nav justify-content-center"><button type="submit"><b>Login</b></button></span>

        </form>
    </div>
</body>
</html>