@model List<RedditFE.Models.RedditUser>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit</title>
</head>
<body>
    <h1>Posts</h1>
    <table>
        <tr>
            <th>SCORE</th>
            <th>Actions</th>
            <th>Content</th>        
        </table>
    </body>
</html>
