<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create New ToDo</title>
</head>
<body>
    <h1>Add New ToDo</h1>
    <form action="/todo/add" method="post">
        <p>Title:</p>
        <input type="text" name="Title" value="">
        <br />
        <br />
        <p>IsDone</p>
        <select type="text" name="IsDone">
            <option value=true>Is Done</option>
            <option value=false>Is Not Done</option>
        </select>
        <p>IsUrgent</p>
        <select type="text" name="IsUrgent">
            <option value=true>Important</option>
            <option value=false>Not Important</option>
        </select>
        <input type="submit" value="Add new list element">
    </form>
</body>
</html>
