@model ListingTodos.Todo
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit data</title>
</head>
<body>
    <form action="/@Model.Id/edit" method="post">
        <p>Todo Description:</p>
        <input type="text" name="Title" value="@Model.Title">
        <br />
        <br />
        <p>Urgent</p>
        <input type="checkbox" name="IsUrgent" value="true" checked ="@Model.IsUrgent"/><br>
        <p>Done</p>
        <input type="checkbox" name="IsDone" value="true" checked = "@Model.IsDone"/><br>
        <br />
        <br />
        <input type="submit" value="Submit">
        <p><a href="/todo">Cancel</a></p>
    </form>
</body>
