@model List<ListingTodos.Todo>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDos for today</title>
</head>
<body>
    <h2>ToDos for today</h2>
    @{
        foreach (var item in Model)
        {
            <li>@item.Title</li>
        }
    }
</body>
</html>



