@model DogSheetWA.Models.Sheet

<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Edit</title>
</head>
<body style="margin: 5% 25% 10% 25%">
    <h2 class="text-center">Edit Data</h2>
    <form action="/@Model.Id/edit" method="post">
        <div class="form-group">
            <label for="Dog">Dog</label>
            <input type="text" class="form-control" name="Dog" value="">
        </div>
        <br />
        <div class="form-group">
            <label for="Handler">Handler</label>
            <input type="text" class="form-control" name="Handler" value="">
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label for="Level">Level</label>
                <select class="custom-select" , name="Level">
                    <option selected>- Choose -</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="col">
                <label for="Specialization">Specialization</label>
                <select class="custom-select" , name="Specialization">
                    <option value="">- Choose an option -</option>
                    <option value="Skills">Skills</option>
                    <option value="Obedience">Obedience</option>
                    <option value="Tracking">Tracking</option>
                    <option value="Protection">Protection</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <br />
            <label for="Score">Score</label>
            <input type="text" class="form-control" name="Score" value="">
        </div>
        @*<button type="submit" class="btn btn-primary my-1" value="OK">Submit</button>
            <br /><br />
            <p class="font-weight-bold"><a href="/results">Cancel</a></p>*@
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-dark" value="OK">Submit</button>
            </div>
            <div class="col">
                <div class="text-right">
                    <a href="/results" class="btn btn-light" role="button">Cancel</a>
                </div>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>